DATABASE_URL=
JWT_SECRET=
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
USER_SERVICE_URL=http://127.0.0.1:4001/graphql
INTERNAL_SERVICE_SECRET=
NOTIFICATION_SERVICE_URL=http://127.0.0.1:4003
INTERNAL_EVENT_AUTH_TOKEN=
NOTIFICATION_EVENT_TIMEOUT_MS=5000
